* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grid {
	width: 400px;
	height: 600px;
	background-image: url("../img/background.png");
	position: relative;
	font-size: 100px;
	text-align: center;
}
.doodler {
	width: 87px;
	height: 85px;
	background-image: url("../img/doodle-guy.png");
	position: absolute;
}
.platform {
	width: 85px;
	height: 15px;
	background-image: url("../img/platform.png");
	position: absolute;
}
